@model TransUnionPortal.Models.ConfigurationFile
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@{
        ViewBag.Title = "Index";
    }</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        <h2>Exportar Archivo</h2>

        <div class="row">
            @using (Html.BeginForm("Index", "ExportFile", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <fieldset>
                    <legend>Seleccione el tipo de archivo</legend>
                    <div class="form-group">
                        @Html.LabelFor(x => x.SelectecType, new { @class = "col-sm-2 control-label" })

                        <div class="col-sm-10">
                            @Html.DropDownListFor(x => x.SelectecType, Model.Type, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success" name="boton" value="Consultar">Preview</button>
                        </div>
                    </div>
                </fieldset>

                <div class="row">
                    <div class="col-sm-12">
                        @if (Model.Contenido != null)
                        {
                            @Html.Partial("Tabla", Model.Contenido ?? new TransUnionPortal.Models.Contenido())
                            <button type="submit" id="Exportar" class="btn btn-info" name="boton" value="Exportar">Exportar datos</button>                        }
                    </div>
                </div>
            }

        </div>
        <hr />
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script>
        
        /*function Exportar() {
            var data = $('form').serialize();
            console.log(data);
        }*/
        @*$(document).ready(function () {
            var model = '@Html.Raw(Json.Encode(Model))';
            $("#Generar").click(function () {
                $.ajax({
                    url: '@Url.Action("Generate", "ExportFile")',
                    type: 'POST',
                    data: { model: model },
                    success: function (data) {
                        alert("Generado con éxito");
                    }
                });
                return false;
            });
        });*@
</script>
    
</body>
</html>
